.list-content-main {
  width: 15em;
  padding: 0.2em;
  display: inline-block;
}

/* 贴边目录样式 */
.list-content-main.fixed {
  position: fixed;
  background: #70b6d3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* 贴边后目录字样 样式 */
.list-content-main > .menu-list-title {
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.7em;
  padding: 0.2em;
  font-size: 1.3em;
  cursor: pointer;
  background: #70b6d3;
  border-radius: 6px;
}

/* 每一个目录项样式 */
.list-content-main > .item {
  height: 1.5em;
  line-height: 1.5em;
  padding-left: 0.3em;
  border-left: 3px solid transparent;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 鼠标悬浮目录项样式 */
.list-content-main > .item:hover {
  background: #f5f5f5;
}

/* 选中目录项样式 */
.list-content-main .checked {
  border-left-color: blue !important;
}

/* fork样式 */
.list-content-main .fork {
  font-size: 0.7em;
  text-align: right;
  padding-top: 1em;
  padding-right: 0.5em;
}
.list-content-main .fork a {
  text-decoration: none;
  color: black !important;
}
